<ul id="nav">
    <li ><a href="{{ path('main_default_home') }}"><div class="home"></div></a></li>
    <li ><a href="{{ path('main_default_contact') }}"><div class="contact"></div></a></li>
    <li ><a href="{{ path('main_default_about') }}"><div class="about"></div></a></li>
</ul>